.top {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.footer{
    background-color: black;
    text-align: center;
    font-style: italic;
    color: white;
    position:fixed;
    bottom: 0;
    width: 100%;
}

.header{
    padding-top: 1.5%;
    color: white;
}

.navbar .nav-item a{
    color: white !important;
}


.navbar .dropdown-item a{
    color: white !important;
}


.row{
    justify-content: center;
}

.but{
    margin-left: 6.5cm;
}

.register-form
{
    padding-top: 1cm;
    padding-bottom: 2cm;
}

.register-form .card-header{
    background-color: white;
    color: white;
    text-align: center;
}

.login-form .card-header{
    background-color: white;
    color: white;
    text-align: center;
}


.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
} */

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



.container {
    margin-top: 0.5cm;
    margin-bottom: 1.5cm;
}

.navbar-laravel
{
    box-shadow: 2 2px 4px rgba(2,2,2,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 2cm;
    padding-bottom: 2cm;

}

.my-form .row
{
    margin-left: 2cm;
    margin-right: 2cm;
}

.login-form
{
    padding-top: 1cm;
    padding-bottom: 2cm;
}

.card-body{
    text-align:center;
}

.body-bottom{
    text-align:left;
}

.login-form .row
{
    margin-left: 2;
    margin-right: 2;
}

.page{
    margin-left: 13.4cm;
}


.body {
    background-color: #07072b
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(darkgrey), to(#240308));
    background: linear-gradient(to right, rgb(59, 53, 53), #301203)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.homeuserimg{
    text-align: center;
}
